        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
        <li>
            <a href="#/usuario"><i class="fa fa-user"></i><span>Usuário</span></a>
            <ul>
                <li><a href="#/usuario/cadastrar"><i class="fa fa-caret-right"></i><span>Cadastrar Novo<span></a></li>
                <li><a href="#/usuario/listar"><i class="fa fa-caret-right"></i><span>Listar Todos<span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/perfil/criar-perfil"><i class="glyphicon glyphicon-eye-open"></i><span>Perfil<span></a>
            <ul>
                <li><a href="#/perfil/criar-perfil"><i class="fa fa-caret-right"></i><span>Criar Perfil<span></a></li>
                <li><a href="#/perfil/listar"><i class="fa fa-caret-right"></i><span>Listar Todos<span></a></li>
            </ul>
        </li>
    </ul>
</div>